
        .logo a {
            display: block;
            width: 152px;
            height: 60px;
            font-size: 0;
            background: url(http://www.poscomtech.com/resources/images/common/site-logo.svg) center no-repeat;
        }

        /* 햄버거버튼 */
        .navbar-toggler{
            padding: .75em;
        }

        /* 소메뉴 */
        #navbarNav .d2{
            opacity: 0;
            visibility: hidden;
            display: none;
        }

        #navbarNav .nav-item > a{
            color: white;
        }
